h1{
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
text-align: center;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
height: max-content;
}

header{
    background-image: url('reasources\pattern.webp');
    z-index: 10;
}
p {
    font-family: Helvetica;
    font-size: 15px;
    width: 50%;
}
.topnav{
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 50px;
    opacity: 0.5;
    border: 1px solid khaki;
    padding: 15px 30%;
    align-content: center;
    position: sticky;
}

main{
    position: relative;
    top: 60px;
    display: flex;
    width: auto;
    height: auto;
    clear: both;
    align-items: baseline;
    position: relative;
    left: 60px;
}

a{
    color: aliceblue;
    align-content: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    margin: 50px;
}

h2.b{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: chartreuse;
    width: 30%;
    height: 40px;
}

button.bruches {
    color: rgb(255, 255, 255);
    background-color: blue;
    font-family: Helvetica;
    font-weight: bold;
    border: none;
}

button.bruches:hover{
    background-color: red;
    color: white;
}

button.Frames {
    color: rgb(255, 255, 255);
    background-color: blue;
    font-family: Helvetica;
    font-weight: bold;
    border: none;
}

button.Frames:hover{
    background-color: red;
    color: white;
}

button.paint {
    color: rgb(255, 255, 255);
    background-color: blue;
    font-family: Helvetica;
    font-weight: bold;
    border: none;
}

button.paint:hover{
    background-color: red;
    color: white;
}

h2.f{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
    width: 30%;
    height: 40px;
}

h2.p{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
    width: 30%;
    height: 40px;
}